# Environment files
.env

# Node modules
node_modules/

# Session files
igSession.json
postedHistory.json

# Temporary files
temp_*.jpg
temp_*.mp4
*.log
# Mac system files
.DS_Store
frontend/.DS_Store
frontend/src/.DS_Store

# Extra env
cc.env

# API dumps
lastApiResponse-*.json
scheduledVideos.json

credentials.json
.env
service-account-key.json
